body {
    background-image: url("../img/sailing\ background.jpg");
}


h1 {
  color:rgb(113, 162, 197); 
  text-align: center; 
  font-size: xx-large; 
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
  font-style: Bold, italic;
}

p {
  color:rgb(107, 205, 250);
  margin-top: 50px; 
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size:medium;
  font-style: italic;
}

nav {margin-top: 50px; margin-bottom: 150px;

}
h2 {margin-top: 25px; 
  margin-left: 28px;
  font-size: x-large; 
  color:rgb(53, 116, 124); 
  font-family:'serif';
  clear:both;
  margin-bottom: 25px;

}
ol {margin-left: 5px;
}
a {font-family:'Georgia,serif';
  font-size: large;
  margin-top: 10px;
  margin-left: 30px;
}
a:link {color:rgb(6, 199, 233)}
a:visited {color:rgb(8, 110, 136)}
a:hover {text-decoration: none;color:rgb(40, 243, 226)}

article {
  background-color:transparent;
  width: 200px;
  border: 3px solid rgb(2, 2, 0);
  padding: 20px;
  margin: auto;
  text-align: center;
  
}
.button {background-color: transparent;}